<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout.css">
    <script src="../js/cabecalho.js" defer></script>
    <title>Dashboard | AVA Educa </title>
</head>
<body>
    <header class="cabecalho">
         <span class="cabecalho__sistema">AVA Educa</span>
         <span class="cabecalho_usuario" id="nome-usuario"></span>
    </header>
        <main>
        <h1>Dashboard</h1>
        <p>Login realizado com sucesso!</p>
    </main>
    
</body>
</html>